!!! 5

html(lang="en")
    head
        title cbmonitor
        include static
        link(rel="stylesheet", href="/static/css/charts.css")
        link(rel="stylesheet", href="/static/css/panel.css")
        link(rel="stylesheet", href="/static/css/dialogs.css")
        script(src='/static/js/vendor/jquery-ui-timepicker-addon.js')
        script(src='/static/js/dialogs.js')
        script(src="/static/js/observables.js")
        script(src="/static/js/views.js")
        script(src="/static/js/graph.js")
        script(src="/static/js/dialogs.js")
        script(src="/static/js/seriesly.js")
        script(src="/static/js/charts.js")
        script(src="/static/js/snapshots.js")
        script(src='/static/js/vendor/d3.v2.js')
        script(src='/static/js/vendor/nv.d3.js')
    body
        include navbar
        div.main
            div.sources
                div#accordion
                    h3  Metrics
                    div
                        div.selectors
                            label(for="met_cluster") Select cluster
                                select#met_cluster(name="met_cluster")
                            label(for="met_server") Select server
                                select#met_server(name="met_server")
                            label(for="met_bucket") Select bucket
                                select#met_bucket(name="met_bucket")
                            ul#metrics_ul
            div.charts
                div.charts_panel
                    div.cpanel_left
                        div.btn-group.views-group(data-toggle="buttons-radio")
                            button#view1.btn.btn-mini.vradio(type="button") 1 view
                            button#view2.btn.btn-mini.vradio(type="button") 2 views
                            button#view4.btn.btn-mini.vradio(type="button") 4 views
                        button#clear_views.btn.btn-mini Clear Views
                        input#zoom(type="checkbox").checkbox
                        span.input-text Zoom
                        input#lines(type="checkbox").checkbox
                        span.input-text Lines
                    div.cpanel_right
                        select#snapshot.selector.snaphosts(name="snapshot")
                        select#report.selector.report(name="report")
                        button#html.btn.btn-mini.btn-panel.btn-html(value="Plot") Export as HTML
                div#add_new_snapshot.new_item(title="Add new snapshot")
                    form
                    fieldset
                        label(for="name") Name
                        input#name.text.ui-widget-content.ui-corner-all(type="text", name="name")
                        label(for="ts_from") Start time
                        input#ts_from.text.ui-widget-content.ui-corner-all(type="text", name="ts_from")
                        label(for="ts_to") End time
                        input#ts_to.text.ui-widget-content.ui-corner-all(type="text", name="ts_to")
                div#views
                    div.chart_view_single#first_view
                        svg
        div#spinner
