!!! 5
html(lang="en")
    head
        title Snapshot Comparison
        link(rel="stylesheet", href="/static/css/vendor/bootstrap.css")
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet", href="/static/css/comparison.css")
        script(src="/static/js/vendor/jquery-1.9.1.min.js")
        script(src='/static/js/vendor/bootstrap.min.js')
        script(src='/static/js/vendor/angular-1.2.7.min.js')
        script(src='/static/js/vendor/spin.min.js')
        script(src='/static/js/comparison.js')
    body
        div.navbar
            div.navbar-inner
                div.brand Snapshot Comparison
        div#main(ng-app="comparison", ng-controller="Comparison")
            div
                select.selector(ng-model="selectedBaseline",
                                ng-options="snapshot for snapshot in snapshots | filter:userBaseline")
                span.vs vs.
                select.selector(ng-model="selectedTarget",
                                ng-options="snapshot for snapshot in snapshots | filter:userTarget")
            div
                input.filter(ng-model="userBaseline",
                             ng-change="filter(userBaseline, true)")
                span.vs &nbsp;&nbsp;&nbsp;
                input.filter(ng-model="userTarget",
                             ng-change="filter(userTarget, false)")
            div
                button#compare.btn.cmp-btn(ng-click="compareSnapshots()") Compare
            div.diffs
                div.url(ng-if="url.length")
                    a(ng-if="url.length", href="[[url]]", target="_blank") < HTML report >
                p.info(ng-if="info") [[info]]
                p.error(ng-if="error") [[error]]
                p.title(ng-if="diffs.length ") There seems to be a difference:
                p.diff(ng-repeat="diff in diffs track by $index") -- [[diff]]
                div#spinner
