!!! 5

html(lang="en")
    meta(property="snapshot", value=snapshot)
    head
        title Correlation matrix
        link(rel="stylesheet", href="/static/css/corr.css")
        script(src="/static/js/vendor/jquery-1.9.1.min.js")
        script(src='/static/js/vendor/d3.v3-3.3.13.min.js')
        script(src='/static/js/corr.js')
    body
        div#chart
            div#tooltip.hidden
                p
                    strong
                        span#x
                p
                    strong
                        span#y
                p
                    span#corr
