!!! 5

html(lang="en")
head
    title cbmonitor
    include static

    body
        div.navbar
            div.navbar-inner
                div.brand cbmonitor

                if snapshots
                    sclass = "active"
                    iclass = ""
                else
                    sclass = ""
                    iclass = "active"
                ul.nav
                    li(class="#{ iclass }")
                        a(href="/").header-menu Charts
                    li(class="#{ sclass }")
                        a(href="/snapshots").header-menu Snapshots
