!!! 5

html(lang="en")
head
    title cbmonitor
    include static

body
    div.header CBMONITOR
    div.main
        div.sources
            div#accordion
                include sources/clusters
                include sources/metrics
                include sources/events
        div.charts
            include charts/panel
            include charts/views

    div.footer Copyright Couchbase Inc. 2012
