!!! 5

html(lang="en")
head
    title cbmonitor
    link(rel="stylesheet", href="/static/styles/cbmonitor.css")

body
    div.header CBMONITOR
    div.main
        div.sources
            div.source#clusters Clusters
            div.source#metrics  Metrics
            div.source#events   Events
        div.charts
            div.charts_panel
                div.cpanel_left [refresh] [share] [pdf]
                div.cpanel_right [pause] [minute] [hour] [day] [week] [month] [all]
            div.chart_view_quadruple#first_view  Chart #1
            div.chart_view_quadruple#second_view Chart #2
            div.chart_view_quadruple#third_view  Chart #3
            div.chart_view_quadruple#fourth_view Chart #4

    div.footer COPYRIGHT COUCHBASE 2012
