!!! 5

html(lang="en")
head
    title cbmonitor
    link(rel="stylesheet", href="/static/styles/cbmonitor.css")
    link(rel="stylesheet", href="/static/styles/jquery-ui.css")
    script(src="/static/scripts/jquery-1.8.3.min.js")
    script(src="/static/scripts/jquery-ui.min.js")
    script(src="/static/scripts/cbmonitor.js")

body
    div.header CBMONITOR
    div.main
        div.sources
            div#accordion
                h3 Clusters
                div
                    button#addc Add cluster
                    button#adds(disabled) Add server
                    button#addb(disabled) Add bucket
                    br
                    button#remc(disabled) Remove cluster
                    button#rems(disabled) Remove server
                    button#remb(disabled) Remove bucket
                h3  Metrics
                div
                    button#plotm(disabled) Plot metric
                    input#filterm(type="text")
                h3  Events
                div
                    button#plote(disabled) Plot event
                    input#filtere(type="text")
        div.charts
            div.charts_panel
                div.cpanel_left [refresh] [share] [pdf]
                div.cpanel_right [pause] [minute] [hour] [day] [week] [month] [all]
            div.chart_view_quadruple#first_view  Chart #1
            div.chart_view_quadruple#second_view Chart #2
            div.chart_view_quadruple#third_view  Chart #3
            div.chart_view_quadruple#fourth_view Chart #4

    div.footer COPYRIGHT COUCHBASE 2012
