!!! 5
html(lang="en")
    head
        title Insight
        link(rel="stylesheet", href="/static/css/vendor/bootstrap.css")
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet", href="/static/css/insight.css")
        script(src='/static/js/vendor/bootstrap.min.js')
    body
        div.navbar
            div.navbar-inner
                div.brand Insight

        div#main
            div#ordinate
                select#ordinate.selector(name="ordinate")
            div#chart
            div#inputs
