!!! 5

html(lang="en")
    head
        title cbmonitor
        link(rel="stylesheet", href="/static/css/vendor/bootstrap.css")
        link(rel="stylesheet", href="/static/css/vendor/smoothness/jquery-ui-1.10.1.custom.min.css")
        link(rel="stylesheet", href="/static/css/main.css")
        link(rel="stylesheet", href="/static/css/vendor/nv.d3.css")
        link(rel="stylesheet", href="/static/css/charts.css")
        link(rel="stylesheet", href="/static/css/panel.css")
        script(src="/static/js/vendor/jquery-1.9.1.min.js")
        script(src="/static/js/vendor/jquery-ui-1.10.1.custom.min.js")
        script(src="/static/js/vendor/jquery.cookie.js")
        script(src='/static/js/vendor/bootstrap.min.js')
        script(src="/static/js/observables.js")
        script(src="/static/js/views.js")
        script(src="/static/js/graph.js")
        script(src="/static/js/seriesly.js")
        script(src="/static/js/charts.js")
        script(src="/static/js/snapshots.js")
        script(src='/static/js/vendor/d3.v3-3.3.13.min.js')
        script(src='/static/js/vendor/nv.d3-1.1.15b.js')
    body
        div.navbar
            div.navbar-inner
                div.brand cbmonitor
        div.main
            div.sources
                div#accordion
                    h3  Metrics
                    div
                        div.selectors
                            label(for="met_cluster") Select cluster
                                select#met_cluster(name="met_cluster")
                            label(for="met_server") Select server
                                select#met_server(name="met_server")
                            label(for="met_bucket") Select bucket
                                select#met_bucket(name="met_bucket")
                            ul#metrics_ul
            div.charts
                div.charts_panel
                    div.cpanel_left
                        div.btn-group.views-group(data-toggle="buttons-radio")
                            button#view1.btn.btn-mini.vradio(type="button") 1 view
                            button#view2.btn.btn-mini.vradio(type="button") 2 views
                            button#view4.btn.btn-mini.vradio(type="button") 4 views
                        button#clear_views.btn.btn-mini Clear Views
                        input#zoom(type="checkbox").checkbox
                        span.input-text Zoom
                        input#lines(type="checkbox").checkbox
                        span.input-text Lines
                    div.cpanel_right
                        select#snapshot.selector.snapshots(name="snapshot")
                        button#html.btn.btn-mini.btn-panel.btn-html(value="Plot") Export as HTML
                div#views
                    div.chart_view_single#first_view
                        svg
