!!! 5

html(lang="en")
    meta(property="filename", value=filename)
    head
        title Rebalance flow
        link(rel="stylesheet", href="/static/css/vendor/bootstrap.css")
        link(rel="stylesheet", href="/static/css/movements.css")
        script(src="/static/js/vendor/jquery-1.9.1.min.js")
        script(src='/static/js/vendor/d3.v3-3.3.13.min.js')
        script(src='/static/js/movements.js')
    body
        div#chart
            div#tooltip.hidden
                div.header
                    strong
                        span#header
                hr.hr
                table#hotspots
