!!! 5

html(lang="en")
    head
        title cbmonitor
        link(rel="stylesheet", href="/static/css/vendor/bootstrap.css")
    body
        div.text-center
            each id, title, url in urls
                h4.text-info.chart-title
                    a(id="#{ id }", href="##{ id }")= title
                img.text-center(src="#{ url }")
                hr
