link(rel="stylesheet", href="/static/styles/bootstrap.css")
link(rel="stylesheet", href="/static/styles/smoothness/jquery-ui-1.10.1.custom.min.css")
link(rel="stylesheet", href="/static/styles/cbmonitor.css")
link(rel="stylesheet", href="/static/styles/nv.d3.css")
script(src="/static/scripts/jquery-1.9.1.min.js")
script(src="/static/scripts/jquery-ui-1.10.1.custom.min.js")
script(src='/static/scripts/bootstrap.min.js')
