link(rel="stylesheet", href="/static/css/vendor/bootstrap.css")
link(rel="stylesheet", href="/static/css/vendor/smoothness/jquery-ui-1.10.1.custom.min.css")
link(rel="stylesheet", href="/static/css/main.css")
link(rel="stylesheet", href="/static/css/vendor/nv.d3.css")
script(src="/static/js/vendor/jquery-1.9.1.min.js")
script(src="/static/js/vendor/jquery-ui-1.10.1.custom.min.js")
script(src="/static/js/vendor/jquery.cookie.js")
script(src='/static/js/vendor/bootstrap.min.js')
script(src='/static/js/vendor/spin.min.js')
