link(rel="stylesheet", href="/static/styles/cbmonitor.css")
link(rel="stylesheet", href="/static/styles/smoothness/jquery-ui-1.9.2.custom.min.css")
script(src="/static/scripts/jquery-1.8.3.min.js")
script(src="/static/scripts/jquery-ui-1.9.2.custom.min.js")
script(src="/static/scripts/jquery.jstree.js")
script(src="/static/scripts/dialogs.js")
script(src="/static/scripts/cbmonitor.js")