link(rel="stylesheet", href="/static/styles/smoothness/jquery-ui-1.9.2.custom.min.css")
link(rel="stylesheet", href="/static/styles/smoothness/jquery.ui.selectmenu.css")
link(rel="stylesheet", href="/static/styles/cbmonitor.css")
link(rel="stylesheet", href="/static/styles/nv.d3.css")
script(src="/static/scripts/jquery-1.8.3.min.js")
script(src="/static/scripts/jquery-ui-1.9.2.custom.min.js")
script(src="/static/scripts/jquery.ui.selectmenu.js")
script(src="/static/scripts/jquery.jstree.js")
script(src="/static/scripts/graph.js")
script(src="/static/scripts/dialogs.js")
script(src="/static/scripts/seriesly.js")
script(src="/static/scripts/cbmonitor.js")
script(src='/static/scripts/d3.min.js')
script(src='/static/scripts/d3.v2.js')
script(src='/static/scripts/nv.d3.js')
