h3 Clusters
div#mmenu
    input#addc(type="button", value="Add cluster")
    input#renc(type="button", value="Edit")
    input#delc(type="button", value="Delete")
    input#adds(type="button", value="Add server")
    div#tree
    include sources/dialogs