h3 Inventory
div#inventory
    button#addc.btn.btn-mini.inventorybtn(value="Add cluster") Add cluster
    button#renc.btn.btn-mini.inventorybtn(value="Edit") Edit
    button#delc.btn.btn-mini.inventorybtn(value="Delete") Delete
    button#adds.btn.btn-mini.inventorybtn(value="Add server") Add server
    div#tree
    include sources/dialogs