div#dialog_new_cluster.new_item(title="Add new cluster")
    form
    fieldset
        label.mandatory(for="cname") * Name
        input#cname.text.ui-widget-content.ui-corner-all(type="text", name="name")
        label(for="description") Description
        textarea#description.text.ui-widget-content.ui-corner-all
        p * Required field

div#dialog_new_server.new_item(title="Add new server")
    form
    fieldset
        label(for="address") * Address
        input#address.text.ui-widget-content.ui-corner-all(type="text", name="address")
        label(for="rest_username") * REST Username
        input#rest_username.text.ui-widget-content.ui-corner-all(type="text", name="rest_username")
        label(for="rest_password") * REST Password
        input#rest_password.text.ui-widget-content.ui-corner-all(type="text", name="rest_password")
        label(for="ssh_username") * SSH Username
        input#ssh_username.text.ui-widget-content.ui-corner-all(type="text", name="ssh_username")
        label(for="ssh_password") SSH Password
        input#ssh_password.text.ui-widget-content.ui-corner-all(type="text", name="ssh_password")
        label(for="ssh_key") SSH key
        textarea#ssh_key.text.ui-widget-content.ui-corner-all
        label(for="description") Description
        textarea#description.text.ui-widget-content.ui-corner-all
        p * Required field

div#dialog_new_bucket.new_item(title="Add new bucket")
    form
    fieldset
        label(for="bname") * Name
        input#bname.text.ui-widget-content.ui-corner-all(type="text", name="name")
        label(for="type") * Type
        input#type.text.ui-widget-content.ui-corner-all(type="text", name="type")
        label(for="port") Port
        input#port.text.ui-widget-content.ui-corner-all(type="text", name="port")
        label(for="password") Password
        input#password.text.ui-widget-content.ui-corner-all(type="text", name="password")
        p * Required field

div#dialog_delete("")
    div
        span.ui-icon.ui-icon-alert.confirm
        p Are you sure?
