h3  Events
div
    div.selectors
        label(for="evnt_cluster") Select cluster
        select#evnt_cluster(name="evnt_cluster")
            option(value="none", selected) None
        label(for="evnt_server") Select server
        select#evnt_server(name="evnt_server")
            option(value="none", selected) None
        label(for="evnt_bucket") Select bucket
        select#evnt_bucket(name="evnt_bucket")
            option(value="none", selected) None
