h3  Metrics
div
    div.selectors
        label(for="met_cluster") Select cluster
            br
            select#met_cluster(name="met_cluster")
            br
        label(for="met_server") Select server
            br
            select#met_server(name="met_server")
            br
        label(for="met_bucket") Select bucket
            br
            select#met_bucket(name="met_bucket")
            br
