server {
    listen 8000;

    location / {
        include fastcgi_params;

        fastcgi_pass unix:/tmp/cbmonitor.sock;
        fastcgi_split_path_info ^()(.*)$;
    }
    location /static/ {
        alias MAKE_ROOT/webapp/cbmonitor/static/;
    }
    location /media/ {
        alias MAKE_ROOT/webapp/media/;
        expires 30d;
    }
}
