couchbase==2.1.0
coverage
django==1.5.5
django-coverage
django-debug-toolbar==1.2
eventlet==0.12.1
logger
matplotlib==1.5.1
mock
moveit
numpy==1.11.0
pandas==0.18.1
flake8==2.1.0
pyjade
python-memcached
scipy==0.13.2
seriesly
sqlparse
