<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Rickshaw demo</title>
    <link rel="stylesheet" href="/static/styles/rickshaw.min.css">
    <link rel="stylesheet" href="/static/styles/jquery-ui.css">
    <link rel="stylesheet" href="/static/styles/main.css">

    <script type='text/javascript' src='/static/scripts/seriesly.js'></script>
    <script type='text/javascript' src='/static/scripts/graph-rickshaw.js'></script>
    <script type='text/javascript' src='/static/scripts/jquery-1.7.min.js'></script>
    <script type='text/javascript' src='/static/scripts/d3.min.js'></script>
    <script type='text/javascript' src='/static/scripts/d3.layout.min.js'></script>
    <script type='text/javascript' src='/static/scripts/rickshaw.min.js'></script>
    <script type='text/javascript' src='/static/scripts/jquery-ui.min.js'></script>
</head>
<body>
    <div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
    </div>
    <div id="legend"></div>
    <div id="slider"></div>

<script type='text/javascript'>
    $(function () {
        var seriesly = new SERIESLY.Seriesly("ns_db");

        var metrics = [
            "bytes_written", "vb_avg_active_queue_age", "ep_tap_total_qlen",
            "ep_queue_size", "vb_replica_queue_size"
        ];

        var url = seriesly.biuldURL("1000", metrics);

        $.ajax({url: url, dataType: "json", success: function(data){
            var graphManager = new GRAPH.GraphManager({
                data: data,
                metrics: metrics,
                seriesly: seriesly
            });
            graphManager.init();
            graphManager.setupLegend();
            graphManager.setupAxes();
            graphManager.setupTips();
            graphManager.setupSlider();
        }});
    });
</script>
</body>
</html>