{
  "mc-sample_metric": {
    "-": "hyphen prefix is used by meta info",

    "name": "sample_metric",
    "-name":
      "string - name or key of the metric from the stats.org file",

    "desc": "this is a fake, sample metric to describe each metadata field",
    "-desc":
      "string - short description of the metric",

    "section": "Sample Stats",
    "-section":
      "string - section in stats.org that lists the metric",

    "pos": 0,
    "-pos":
      "number - useful for display ordering, coming from the stats.org file"
  }
}
