extends litmus/layout

block include
    link(rel='stylesheet', href='/static/styles/jquery.dataTables.css')
    script(src='/static/scripts/jquery.dataTables.min.js')
    script(src='/static/scripts/litmus.js')
    script(charset='utf-8')
        $(document).ready(function(){
            $('#settings table').toggle();
            $('#settingsToggle').button().click(function() {
                $('#settings table').toggle('blind');
            });
            $('#settings table').change(function() {
                getSettings();
                applyErrorRanges();
            });
            $.get('/litmus/get/', { },
                function(data) {
                    processData(data);
                    $('#settings table tbody').html(createSettings);
                    renderTable(data);
                    getSettings();
                    applyErrorRanges();
            }, 'json');
        });

block main
    #settings
        input(type='checkbox', id='settingsToggle')
        label(for="settingsToggle") Settings
        table
            thead
                th Column
                th Baseline Build
            tbody

    #litmus
        table
            p(style='text-align: center', id='loading') Loading
