!!! 5

html(lang="en")
    head
        title cbmonitor
        include static
        link(rel="stylesheet", href="/static/styles/snapshots.css")
        script(src='/static/scripts/snapshots.js')
    body
        include navbar
        div.snapshots
            select#snapshot.snapshot(name="snapshot")
            button#plot.btn.btn-plot(value="Plot") Plot
            button#pdf.btn.btn-pdf(value="PDF") PDF
        div#spinner
        div#carousel.carousel.slide
            o.carousel-indicators
            div.carousel-inner
            a.carousel-control.left(href="#carousel", data-slide="prev") &lsaquo;
            a.carousel-control.right.inverse(href="#carousel", data-slide="next") &rsaquo;
        div#titles.titles
        include footer
