!!! 5

html(lang="en")
    head
        title cbmonitor
        include static
        link(rel="stylesheet", href="/static/styles/charts.css")
        script(src="/static/scripts/observables.js")
        script(src="/static/scripts/views.js")
        script(src="/static/scripts/graph.js")
        script(src="/static/scripts/dialogs.js")
        script(src="/static/scripts/seriesly.js")
        script(src="/static/scripts/charts.js")
        script(src='/static/scripts/d3.v2.js')
        script(src='/static/scripts/nv.d3.js')
    body
        include navbar
        div.main
            div.sources
                div#accordion
                    include charts/metrics
                    include charts/events
            div.charts
                include charts/panel
                include charts/views
        div#spinner
        include footer
