<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>NVD3 demo</title>
    <link rel="stylesheet" href="/static/styles/nv.d3.css">

    <script type='text/javascript' src='/static/scripts/jquery-1.7.min.js'></script>
    <script type='text/javascript' src='/static/scripts/seriesly.js'></script>
    <script type='text/javascript' src='/static/scripts/d3.min.js'></script>
    <script type='text/javascript' src='/static/scripts/d3.v2.js'></script>
    <script type='text/javascript' src='/static/scripts/nv.d3.js'></script>
    <script type='text/javascript' src='/static/scripts/stream_layers.js'></script>
    <script type='text/javascript' src='/static/scripts/graph-d3.js'></script>
</head>

<body>

<div id='chart'>
    <svg style='height:500px; width:800px'> </svg>
</div>

<script type='text/javascript'>
    var seriesly = new SERIESLY.Seriesly("ns_db");

    var metrics = [
        "bytes_written",
        "vb_avg_active_queue_age",
        "ep_tap_total_qlen",
        "ep_queue_size",
        "vb_replica_queue_size"
    ];

    var url = seriesly.biuldURL("60000", metrics);

    $.ajax({url: url, dataType: "json", success: function(data){
        var graphManager = new GRAPH.GraphManager({
            data: data,
            metrics: metrics,
            seriesly: seriesly
        });
        graphManager.init();
    }});


</script>

</body>
</html>
