!!! 5

html(lang='en')
head
    link(rel='stylesheet', href='/static/styles/dashboard.css')
    link(rel='stylesheet', href='/static/styles/jquery-ui.css')
    script(src='/static/scripts/jquery-1.7.min.js')
    script(src='/static/scripts/jquery-ui.min.js')

    block include
    title
        | Couchbase Performance Dashboard
body
    #main
        block main
    footer
        p Copyright Couchbase Inc, 2012 All rights reserved