extends layout

block include
    link(rel='stylesheet', href='/static/styles/jquery.dataTables.css')
    link(rel='stylesheet', href='/static/styles/jquery.qtip.min.css')
    script(src='/static/scripts/jquery.dataTables.min.js')
    script(src='/static/scripts/FixedHeader.min.js')
    script(src='/static/scripts/jquery.qtip.min.js')
    script(src='/static/scripts/jquery.jeditable.mini.js')
    script(src='/static/scripts/jquery.cookie.js')
    script(src='/static/scripts/litmus.js')
    script(charset='utf-8')
        $(document).ready(function(){
            $.get('/litmus/get?all', { },
                function(data) {
                    processData(data);
                    renderTable(data);
                    applyErrorRanges();
            }, 'json');
            setInterval(function() {
                location.reload()
            }, 300000);
        });

block main
    #litmus
        table
            p(style='text-align: center', id='loading') Loading
