extends layout

block include
    link(rel='stylesheet', href='/static/styles/jquery.dataTables.css')
    link(rel='stylesheet', href='/static/styles/jquery.qtip.min.css')
    link(rel='stylesheet', href='/static/styles/spectrum.css')
    link(rel='stylesheet', href='/static/styles/jquery.contextmenu.css')
    script(src='/static/scripts/jquery.dataTables.min.js')
    script(src='/static/scripts/FixedHeader.min.js')
    script(src='/static/scripts/jquery.qtip.min.js')
    script(src='/static/scripts/jquery.jeditable.mini.js')
    script(src='/static/scripts/jquery.cookie.js')
    script(src='/static/scripts/jquery.contextmenu.js')
    script(src='/static/scripts/spectrum.js')
    script(src='/static/scripts/litmus.js')
    script(charset='utf-8')
        $(document).ready(function(){
            getAllTags();
            showResults("");
            setReloadInterval('300000');
        });

block main
    #tag
        input(type='radio', name='tag', onclick="showResults('');", id="all")label(for="all") All
    #litmus
        label(for="reload") Reload
        select(name='reload', id='reload', onchange="setReloadInterval(this.value);")
            option(value='0') Manual
            option(value='300000', selected='selected') 5 minutes
            option(value='1800000') 30 minutes
        table
            p(style='text-align: center', id='loading') Loading
