extends layout

block include
    link(rel='stylesheet', href='/static/styles/jquery.dataTables.css')
    link(rel='stylesheet', href='/static/styles/jquery.qtip.min.css')
    script(src='/static/scripts/jquery.dataTables.min.js')
    script(src='/static/scripts/jquery.qtip.min.js')
    script(src='/static/scripts/jquery.jeditable.mini.js')
    script(src='/static/scripts/jquery.cookie.js')
    script(src='/static/scripts/litmus.js')
    script(charset='utf-8')
        $(document).ready(function(){
            $('#settings table').toggle();
            $('#settingsToggle').button().click(function() {
                $('#settings table').toggle('blind');
            });
            $('#settings table').change(function() {
                saveSettings();
                applyErrorRanges();
            });
            $.get('/litmus/get/', { },
                function(data) {
                    processData(data);
                    $('#settings table tbody').html(createSettings);
                    renderTable(data);
                    getSettings();
                    applyErrorRanges();
            }, 'json');
            setInterval(function() {
                location.reload()
            }, 300000);
        });

block main
    #settings
        input(type='checkbox', id='settingsToggle')
        label(for="settingsToggle") Settings
        table
            thead
                th Metric
                th Baseline Build
            tbody

    #litmus
        table
            p(style='text-align: center', id='loading') Loading
