
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    font: 14px;
    color: #a52a2a;
}

footer {
    padding-top: 50px;
    fond: 14px;
    color: #a52a2a;
}

#litmus {
    padding-top: 40px;
}

.red {
    background-color: #a52a2a;
}

.FixedHeader_Cloned th {
    background-color: #ffffff;
}