#chart_container {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
#chart {
    position: relative;
    left: 40px;
}
#y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
#legend {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}