!!! 5

html(lang="en")
    head
        title cbmonitor
        include static
        link(rel="stylesheet", href="/static/css/inventory.css")
        link(rel="stylesheet", href="/static/css/dialogs.css")
        script(src="/static/js/vendor/jquery.jstree.js")
        script(src="/static/js/inventory.js")
        script(src="/static/js/dialogs.js")
    body
        include navbar
        div.inventory-container
            h4 Inventory
            div#inventory.sub-container
                button#addc.btn.btn-mini.inventorybtn(value="Add cluster") Add cluster
                button#renc.btn.btn-mini.inventorybtn(value="Edit") Edit
                button#delc.btn.btn-mini.inventorybtn(value="Delete") Delete
                button#adds.btn.btn-mini.inventorybtn(value="Add server") Add server
                div#tree
            include inventory/dialogs

        div#spinner
        include footer
