/* --Main container-- */
.main {
    position: absolute;
    width: 99%;
    height: 87.5%;
    margin: 0 0.25%;
    top: 6%
}
/* --Left board-- */
.sources {
    position: absolute;
    width: 29.8%;
    height: 99.8%;
}
#accordion .ui-accordion-content {
    padding: 2%;
}
#accordion .ui-accordion-header{
    padding: 2% 7%;
}
.selectors {
    width: 100%;
}
.selectors label {
    line-height: 2.0;
    font-size: 77%;
}
.selectors select {
    width: 100%;
    height: 24px;
    text-overflow: ellipsis;
}
.ui-state-default.ui-corner-all.ui-draggable {
    margin: 5px 0;
    font-size: 65%;
    padding-left: 5px;
}
.ui-state-default.ui-corner-all.ui-draggable:hover {
    cursor: pointer;
}
/* --Right board-- */
.charts {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
}
.chart_view_single {
    width: 100%;
    height: 94%;
    position: absolute;
}
.chart_view_double {
    width: 100%;
    height: 46.5%;
    position: absolute;
}
.chart_view_quadruple {
    width: 50%;
    height: 46.5%;
    position: absolute;
}
#first_view {
    top: 6%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#second_view {
    top: 6%;
    left: 50%;
    border: solid 1px #808080;
    border-radius: 5px;
}
#second_view_double {
    top: 52.5%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#third_view {
    top: 52.5%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#fourth_view {
    top: 52.5%;
    left: 50%;
    border: solid 1px #808080;
    border-radius: 5px;
}

.dotted .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 1;
}

.dotted .nvd3 .nv-groups path.nv-line {
    stroke-width: 0px;
}
