#main {
    margin: 0 auto;
    width: 1250px;
    height: 600px;
}

.selector {
    width: 900px;
    position: absolute;
    height: 28px;
    text-overflow: ellipsis;
    padding-top: 2px;
}

.input_selector {
    width: 340px;
    height: 28px;
    text-overflow: ellipsis;
    padding-top: 2px;
}

#chart {
    margin-top: 2px;
    width: 900px;
    height: 548px;
}

#ordinate {
    height: 30px;
    width: 900px;
}

#inputs {
    position: relative;
    width: 330px;
    height: 550px;
    top: -552px;
    left: 910px;
}

.axis path, .axis line {
    fill: none;
    stroke: #cccccc;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}
