/* Inventory */
.inventory-container {
    position: absolute;
    width: 35%;
    height: 80%;
    margin-left: 32.5%;
}
.sub-container {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.inventorybtn {
    width: 24%;
}
hr {
    margin: 20px 10px 0 0;
}
.spinner {
    margin-left: 10px;
    line-height: 1;
}
.ui-spinner {
    width: 50px;
    font-size: 93%;
}
#apply {
    display: none;
    position: absolute;
    width: 25%;
    left: 65%;
    margin-top: 20px;
}