.t-inventory {
    width: 95%;
    margin-left: 2.5%;
}

.t-data {
    text-align: left;
    text-overflow: ellipsis;
    font-size: 85%;
    padding-left: 5px;
}

.t-cluster {
    width: 10%;
}

.t-servers {
    width: 25%;
}

.t-buckets {
    width: 25%;
}

.t-descr {
    width: 30%;
}

.t-buttons {
    width: 5%;
    text-align: center;
    padding-left: 0;
}

.icon-remove:hover {
    cursor: pointer;
}