#tooltip.hidden {
    display: none;
}

#tooltip {
    margin-left: 25%;
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#hotspots {
    width: 550px;
    font-size: 93%;
}

.hotspot {
    width: 400px;
}

.value {
    text-align: right;
    padding-right: 5px;
    width: 50px;
}

.bar {
    width: 100px;
}

.header {
    text-align: center;
    font-size: 100%;
}

.hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
