.charts_panel {
    position: relative;
    width: 100%;
    height: 7%;
}
.cpanel_left {
    top: 20%;
    position: absolute;
}
.cpanel_middle {
    left: 20%;
    top: 20%;
    width: 70px;
    position: absolute;
}
.cpanel_right {
    position: absolute;
    width: 70%;
    left: 30%;
    top: 20%;
    text-align: right;
}
.selector {
    position: absolute;
    height: 24px;
    text-overflow: ellipsis;
    font-size: 93%;
    padding-top: 2px;
}
.btn-panel {
    position: absolute;
}
.snaphosts {
    width: 310px;
    margin-left: -625px;
}
.btn-add {
    width: 25px;
    margin-left: -320px;
}
.report {
    width: 185px;
    margin-left: -300px;
}
.btn-html {
    width: 100px;
    margin-left: -100px;
}
