body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 77%;
}
/* --Main container-- */
.main {
    position: absolute;
    width: 90%;
    height: 90%;
    margin: 0 5%;
    top: 6%
}
/* --Left board-- */
.sources {
    position: absolute;
    width: 32.8%;
    height: 99.8%;
}
.new_item label, .new_item input {
    /*display: block;*/
}
.new_item input.text, .new_item textarea {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}
.new_item fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}
.new_item p {
    border: 1px solid transparent; padding: 0.3em;
}
/* --Right board-- */
.charts {
    position: absolute;
    width: 67%;
    height: 100%;
    left: 33%;
}
.charts_panel {
    position: relative;
    width: 100%;
    height: 6%;
}
.cpanel_left {
    left: 1%;
    top: 20%;
    position: absolute;
}
.cpanel_right {
    position: absolute;
    width: 70%;
    left: 30%;
    top: 20%;
    text-align: right;
}
.chart_view_single {
    width: 100%;
    height: 93%;
    position: absolute;
}
.chart_view_double {
    width: 100%;
    height: 46.5%;
    position: absolute;
}
.chart_view_quadruple {
    width: 50%;
    height: 46.5%;
    position: absolute;
}
#first_view {
    top: 6.75%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#second_view {
    top: 6.75%;
    left: 50%;
    border: solid 1px #808080;
    border-radius: 5px;
}
#second_view_double {
    top: 53.25%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#third_view {
    top: 53.25%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#fourth_view {
    top: 53.25%;
    left: 50%;
    border: solid 1px #808080;
    border-radius: 5px;
}
/* --Footer & Header-- */
.header {
    position: absolute;
    width: 90%;
    height: 5%;
    top: 1%;
    margin: 0 5%;
    font-size: 161.6%;
}
.footer {
    position: absolute;
    width: 90%;
    top: 96.5%;
    margin: 0 5%;
    height: 3%;
    text-align: right;
    font-size: 85%;
}
.charts_panel {
    border: solid 1px #808080;
    border-radius: 5px;
    margin-top: 0.25%;
}
/* jQuery UI*/
.ui-dialog .ui-state-error {
    padding: .3em;
}
.confirm {
    float: left;
    margin: 0 7px 0 0;
}
.ui-button{
    font-size: 77%;
}
#accordion .ui-accordion-content {
    padding: 2%;
}
#accordion .ui-accordion-header{
    padding: 2% 7%;
}
.selectors {
    margin-top: 5px;
    font-size: 77%;
    width: 360px;
}
.selectors label {
    line-height: 2.0;
}
.selectors select {
    width: 360px;
}
.ui-menu .ui-menu-item a {
    font-size: 77%;
}
#bucket_type label {
    width: 49%;
    margin-bottom: 12px;
    font-size: 77%;
}