body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
body a, body label, body p {
    font-size: 77%;
}
body a:link, body a:hover {
    text-decoration: none;
}
/* Header */
.header-menu {
    font-size: 93%;
}
/* --Main container-- */
.main {
    position: absolute;
    width: 99%;
    height: 87.5%;
    margin: 0 0.25%;
    top: 6%
}
/* --Left board-- */
.sources {
    position: absolute;
    width: 29.8%;
    height: 99.8%;
}
.inventorybtn {
    width: 24%;
}
.new_item label, .new_item input {
    /*display: block;*/
}
.new_item input.text, .new_item textarea {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}
.new_item fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}
.new_item p {
    border: 1px solid transparent; padding: 0.3em;
}
/* --Right board-- */
.charts {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
}
.charts_panel {
    position: relative;
    width: 100%;
    height: 7%;
}
.cpanel_left {
    top: 20%;
    position: absolute;
}
.cpanel_middle {
    left: 20%;
    top: 20%;
    width: 70px;
    position: absolute;
}
.cpanel_right {
    position: absolute;
    width: 70%;
    left: 30%;
    top: 20%;
    text-align: right;
}
.chart_view_single {
    width: 100%;
    height: 94%;
    position: absolute;
}
.chart_view_double {
    width: 100%;
    height: 46.5%;
    position: absolute;
}
.chart_view_quadruple {
    width: 50%;
    height: 46.5%;
    position: absolute;
}
#first_view {
    top: 6%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#second_view {
    top: 6%;
    left: 50%;
    border: solid 1px #808080;
    border-radius: 5px;
}
#second_view_double {
    top: 52.5%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#third_view {
    top: 52.5%;
    left: 0;
    border: solid 1px #808080;
    border-radius: 5px;
}
#fourth_view {
    top: 52.5%;
    left: 50%;
    border: solid 1px #808080;
    border-radius: 5px;
}
/* --Footer & Header-- */
.footer {
    margin-top: 10px;
    text-align: right;
    font-size: 85%;
}
/* jQuery UI*/
.ui-dialog .ui-state-error {
    padding: .3em;
}
.confirm {
    float: left;
    margin: 0 7px 0 0;
}
#accordion .ui-accordion-content {
    padding: 2%;
}
#accordion .ui-accordion-header{
    padding: 2% 7%;
}
.selectors {
    width: 100%;
}
.selectors label {
    line-height: 2.0;
    font-size: 77%;
}
.selectors select {
    width: 100%;
    height: 24px;
    text-overflow: ellipsis;
}
.ui-state-default.ui-corner-all.ui-draggable {
    margin: 5px 0;
    font-size: 65%;
    padding-left: 5px;
}
.ui-state-default.ui-corner-all.ui-draggable:hover {
    cursor: pointer;
}
.snapshot {
    position:absolute;
    font-size: 100%;
    left: 50%;
    width: 500px;
    margin-left: -275px;
    position: absolute;
}
.btn-plot {
    position: relative;
    left: 50%;
    margin-left: 235px;
}
.carousel {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -465px;
    width: 930px;
    height: 525px;
}
.carousel-control {
    height: 60px;
    font-size: 120px;
    margin-top: 0;
    margin-left: -50px;
    margin-right: -50px;
    color: #000000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: transparent;
}