/* Inventory */
.inventory-container {
    position: absolute;
    width: 35%;
    height: 80%;
    margin-left: 15%;
}
.sub-container {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.inventorybtn {
    width: 24%;
}
.collectors-container {
    position: absolute;
    width: 35%;
    height: 80%;
    margin-left: 51%;
}
