/* Inventory */
.inventory-container {
    position: absolute;
    width: 35%;
    height: 80%;
    margin-left: 15%;
}
.sub-container {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.inventorybtn {
    width: 24%;
}
.collectors-container {
    position: absolute;
    width: 35%;
    height: 80%;
    margin-left: 51%;
    font-size: 93%;
}
.coll-name {
    position: absolute;
    width: 40%;
}
.coll-interval {
    position: absolute;
    width: 30%;
    left: 41%;
    text-align: center;
}
.coll-status {
    position: absolute;
    width: 30%;
    left: 71%;
    text-align: center;
}
hr {
    margin-right: 2%;
}