/* Header */
.header-menu {
    font-size: 93%;
}
/* Body */
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
body a, body label, body p {
    font-size: 77%;
}
body a:link, body a:hover {
    text-decoration: none;
}
/* Footer */
.footer {
    margin-top: 10px;
    text-align: right;
    font-size: 85%;
}
.chart-title {
    margin: 2px;
}