.snapshot {
    position:absolute;
    font-size: 100%;
    left: 50%;
    width: 500px;
    margin-left: -275px;
    position: absolute;
}
.btn-plot {
    position: relative;
    left: 50%;
    margin-left: 235px;
}
.btn-pdf {
    position: relative;
    left: 50%;
    margin-left: 10px;
}
.carousel {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -615px;
    width: 933px;
    height: 525px;
}
.titles {
    position: relative;
    top: 30px;
    left: 50%;
    margin-left: 315px;
    width: 300px;
    height: 490px;
    overflow: auto;
    white-space: nowrap;
}
.titles a {
    margin: 10px;
    color: darkslategray;
}
.carousel-control {
    height: 60px;
    font-size: 120px;
    margin-top: 0;
    color: #000000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: transparent;
}
